.navbar {
    position: fixed;
    opacity: 1;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 5px #e5e5e5;
    background-color: white;
    position:fixed;
    z-index: 99;
    font-weight: bold;
}

.nav-item{
    font-size: 20px;
}
.navbar-nav{
    align-items: center;
}

.navbar-collapse{
    justify-content: center;
    align-items: center;
}

.nav-logo-custom{
   max-width: 60px;
}